@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Начало";
}
<div class="row compact">
    <div class="col-md-5">
        @(Html.BudgetOnlineWeb().Panel().Header("Статистика за текущий месяц")
           .Content(Html.Action("TotalsByCurrentMonth", "TransactionStatistics", new { id = 1 }))
           .ContentRefreshUrl(Url.Action("TotalsByCurrentMonth", "TransactionStatistics", new { id = 1 }))
           .ContentRefreshCallbackFunction("getCallbackResult").Build())
    </div>
    <div class="col-md-5">
        @(Html.BudgetOnlineWeb().Panel().Header("Статистика за прошлый месяц")
                .Content(Html.Action("TotalsByPrevMonth", "TransactionStatistics", new { id = 1 }))
                .ContentRefreshUrl(Url.Action("TotalsByPrevMonth", "TransactionStatistics", new { id = 1 }))
                .ContentRefreshCallbackFunction("getCallbackResult").Build())
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row compact">
    <div class="col-md-10">
        @(Html.BudgetOnlineWeb().Panel().Header("Выполнение бюджета за текущий месяц")
                .Content(Html.Action("StateByCurrentMonth", "budgeting"))
                .ContentRefreshUrl(Url.Action("StateByCurrentMonth", "budgeting"))
                .ContentRefreshCallbackFunction("getCallbackResult").Build())
    </div>
    <div class="col-md-2">
    </div>
</div>
