@model DateTime?
@{
    var placeholder = "";
    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("placeholder"))
    {
        placeholder = ViewData.ModelMetadata.AdditionalValues["placeholder"].ToString();
    }

    string cssClass = ViewData.ModelMetadata.GetSpan("span8") + " date-picker input-block-level";

    var propertyName = ViewData.ModelMetadata != null ? ViewData.ModelMetadata.PropertyName : "";
    if (!string.IsNullOrWhiteSpace(propertyName))
    {
        ModelState state = ViewData.ModelState[propertyName];
        if (state != null && state.Errors.Count > 0)
        {
            cssClass = cssClass + " input-validation-error";
        }
    }
    var value = Model.HasValue ? string.Format("{0} {1}", Model.Value.ToLocalTime().ToShortDateString(), Model.Value.ToLocalTime().ToShortTimeString()) : string.Empty;
}
<div class="input-append">
    @Html.TextBox("", value, new { @class = @cssClass, placeholder, autocomplete = "off" })
    <span class="add-on"><i class="icon-calendar"></i></span>
</div>
