@model BudgetOnline.Web.Models.ListWithMultiSelects

@{
	ModelState state = ViewData.ModelState[ViewData.ModelMetadata.PropertyName];

	var css = new List<string> {"form-control"};

	if (state != null && state.Errors.Count > 0)
	{
		css.Add("input-validation-error");
	}
	if (!string.IsNullOrWhiteSpace(ViewData.ModelMetadata.GetSpan()))
	{
        css.Add(ViewData.ModelMetadata.GetSpan());
	}
    
}

<ul class="unstyled">
	@foreach(var item in Model.Items)
	{
		<li>
			@if (item.Selected)
			{
				<input id="Permissions_@(item.Value)" name="Permissions.@(item.Value)" type="checkbox" checked="checked"/>
			}
			else
			{
				<input id="Permissions_@(item.Value)" name="Permissions.@(item.Value)" type="checkbox" />
			}
			@item.Text
		</li>
	}
</ul>
