@using BudgetOnline.Web.Areas.Admin.Models
@model IEnumerable<TagListViewModel>
@{
    ViewBag.Title = "Метки";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn" href="@Url.Action("create")"><i class="icon-plus"></i>Новая запись</a>
    </div>
</div>
@(Html.BudgetOnlineWeb()
    .Table<TagListViewModel>()
    .Css("table table-striped")
    .Rows(Model)
    .Columns(columns =>
                {
                    columns.Icon().IconCss(m => m.IsDisabled ? "icon-lock" : "").Span(1);
                    columns.Bound(m => m.Name).Span(7);
                    columns.Bound(m => m.Hits).Span(2);
                    columns.Commands().Cell(m => m.Commands).Span(2);
                })
    .Build()
    )