@model IEnumerable<BudgetOnline.Web.ViewModels.TwoColumnsViewModel>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    <div class="row underline compact">
        <div class="col-md-7 @item.FirstColumnCss"><span class="pull-left">@item.FirstColumn</span></div>
        <div class="col-md-5 @item.SecondColumnCss"><span class="pull-right ">@item.SecondColumn</span></div>
    </div>
}
