@{
    var lang = "RU";
    var httpCookie = HttpContext.Current.Request.Cookies["lang"];
    if (httpCookie != null)
    {
        lang = httpCookie.Value.Substring(3);
    }
}

<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown" id="language-switch0">
            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" href="#">@lang<b class="caret"></b></a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="#" data-lang="ru-RU">RU</a></li>
                <li><a href="#" data-lang="en-US">EN</a></li>
            </ul>
        </li>
    </ul>
</div>
<script type="text/javascript">
    
</script>