@*
    Generator: MvcHelper
    GeneratePrettyNames : true
*@

@using BudgetOnline.UI.Helpers
@using BudgetOnline.UI.Models.Alerts

@helper Render(AlertSuccessModel model)
{
    var id = string.IsNullOrWhiteSpace(model.Name) ? UIHelper.GenerateRandomCode(10) : model.Name;
    
    <div class="alert alert-success" id="@id">
        @if (!model.IsForbidClose)
        {
            <button data-dismiss="alert" class="close" type="button">
                ×</button>	
        }
        @if (!string.IsNullOrWhiteSpace(model.MessageSuffix))
        {
            <strong>@(model.MessageSuffix)</strong> 
        }
        @(new HtmlString(model.Message))
    </div>
}