<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- add your targets here -->
		<target xsi:type="File" name="log_all" fileName="${basedir}/App_Data/Logs/${shortdate}_all.log"
				layout="${longdate} ${uppercase:${level}} ${message}" createDirs="true" />
		<target xsi:type="File" name="log_err" fileName="${basedir}/App_Data/Logs/${shortdate}_err.log"
				layout="${longdate} ${uppercase:${level}} ${message}" createDirs="true" />
	</targets>

	<rules>
		<!-- add your logging rules here -->
		<logger name="*" minlevel="Error" writeTo="log_err" />
		<logger name="*" minlevel="Trace" writeTo="log_all" />
	</rules>
</nlog>