@*
    Generator: MvcHelper
    GeneratePrettyNames : true
*@

@using BudgetOnline.UI.Models.ViewCommands
@using BudgetOnline.UI.Views.ListViewCommands

@helper Render(IEnumerable<ViewCommandUIModelHelper> commands)
{
    if (commands != null)
    {
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                @foreach (var command in commands)
                {
                    @ViewCommandUI.Render(command.GetResult(), true)
                }

            </ul>
        </div>
    }
}
