@*
    Generator: MvcHelper
    GeneratePrettyNames : true
*@

@using BudgetOnline.UI.Models.ViewCommands

@helper Render(ViewCommandUIModel command)
    {
        if (command.IsVisible)
        {
            var iconForDefaultCommand = command.IconCssClass;
            if (string.IsNullOrWhiteSpace(iconForDefaultCommand))
            {
                iconForDefaultCommand = "glyphicon-list";
            }
            
            if (command.Command.CommandType == CommandType.Post)
            {
            }
            else if (command.Command.CommandType == CommandType.Redirect)
            {
<a class="btn btn-default btn-xs" href="@((command.Command as RedirectViewCommandModel).Path)"><i class="glyphicon @iconForDefaultCommand"></i><span style="padding-left: 1em">@command.Text</span></a>
            }
        }
}