@using BudgetOnline.UI.PreCompiled.Extensions
@using BudgetOnline.UI.PreCompiled.Models
@* Generator: MvcHelper *@
@functions {
}

@helper Render(PaginationModel model)
{
    var id = string.IsNullOrWhiteSpace(model.Name) ? Html.GetUniqId(10) : model.Name;

	<li class="dropdown">
		<a data-toggle="dropdown" class="dropdown-toggle" href="#">Title <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="#">Action</a></li>
			<li><a href="#">Another action</a></li>
			<li><a href="#">Something else here</a></li>
			<li class="divider"></li>
			@*<li class="nav-header">Nav header</li>*@
			@*<li><a href="#">Separated link</a></li>*@
			<li><a href="#">One more separated link</a></li>
		</ul>
	</li>
}