@using BudgetOnline.UI.Controls
@using BudgetOnline.Web.Areas.Admin.Models
@model IEnumerable<CurrencyRateListViewModel>
@{
    ViewBag.Title = "Курсы валют";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn" href="@Url.Action("create")"><i class="icon-plus"></i>Новая запись</a>
    </div>
</div>
@(Html.BudgetOnlineWeb()
    .Table<CurrencyRateListViewModel>()
    .Css("table table-striped")
    .OutputType(TableBuilderOutputTypes.Table)
    .Rows(Model)
    .Columns(columns =>
                {
                    columns.Bound(m => m.Date).Span(3).Formatter<DateTime>(o => o.ToLocalTime().ToShortDateString());
                    columns.Icon().IconCss(m => m.IsDisabled ? "icon-lock" : (m.IsDisabled ? "icon-lock" : "")).Span(1);
                    columns.Bound(m => m.BaseCurrencyName).Span(3);
                    columns.Bound(m => m.TargetCurrencyName).Span(3);
                    columns.Bound(m => m.Rate).Span(3);
                    columns.Commands().Cell(m => m.Commands).Span(2);
                })
    .Build())